body {
    margin: 0;
    font-family: sans-serif;
}
header {
    background-color: #333;
    color: white; 
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centrado vertical */
}
.logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin-left: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}
nav ul li a:hover {
    background-color: #555;
    border-radius: 4px;
}

main {
    padding-left: 3rem;
    padding-right: 3rem;
}



.add-btn {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background 0.3s;
}

.add-btn:hover {
    background-color: #219150;
}





.table-container {
    overflow-x: auto; /* Permite el desplazamiento horizontal solo dentro de este contenedor */
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /*Efecto de sombra*/
}

table {
    width: 100%;
    border-collapse: collapse; /*Combina los bordes de celdas adyacentes en un solo borde*/
}

/* Estilo para filas pares*/
tr:nth-child(even) {
    background-color: #f0ecec;
}

tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

th {
    font-weight: bold;
    border-bottom: 1px solid #000000;
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

td{
    border-bottom: 1px solid #ddd;
}




.empty-state-container {
    text-align: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
    border: 2px dashed #ddd;
    border-radius: 10px;
    /* margin: 20px 0; */
    transition: opacity 0.3s ease;
    opacity: 1;
}

.empty-state-content i {
    font-size: 50px;
    color: #27ae60;
    /* margin-bottom: 15px; */
}

.empty-state-content p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.empty-state-content span {
    color: #777;
    font-size: 0.9rem;
}

.hidden {
    display: none !important;
    opacity: 0;
}





.col-mover{
    width: 50px; /* Ancho fijo */
    text-align: center;
    vertical-align: middle;
}

.drag-handle {
    cursor: grab; /* Muestra el cursor de arrastre cuando el mouse pasa por encima */
}

.drag-handle i{
    color: #999;
    font-size: 1.1em;
    transition: color 0.2s; /* Transición para el hover */
}

.drag-handle:hover i{
    color: #333;
}

tr.dragging {
    opacity: 0.5; /* Reduce la opacidad para indicar que se está arrastrando */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* transform: scale(1.02); Escala ligeramente la fila */
}

tr.drop-target-top {
    border-top: 3px solid #337ab7; /* Línea azul sólida en la parte superior de la fila */
}

tr.drop-target-bottom {
    border-bottom: 3px solid #337ab7; /* Línea azul sólida en la parte inferior de la fila */
}




.action-cell {
    width: 60px;
    text-align: center;
}

.edit-btn {
    background: none;
    border: none;
    cursor: pointer;
    
    border-radius: 4px;
    color: #337ab7;
    font-size: 1.1em;
    padding: 5px;
    transition: color 0.2s, background-color 0.2s, transform 0.1s;
}

.edit-btn:hover {
    color: #2a6496;
    background-color: #f0f0f0;
}

.edit-btn:active {
    color: #004d99;
    background-color: #e0e0e0;
    transform: translateY(1px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
}



.modal-backdrop {
    position: fixed; /* Fijo a la ventana*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); /*ligera opacidad*/
    z-index: 1050;
    display: none;
}

.modal-editor-input {
    position: absolute; /* ABSOLUTE para ubicarlo sobre la celda */
    padding: 10px;
    margin: 0;
    width: 250px;
    box-sizing: border-box; 
    border: 2px solid #3498db;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 1060;
    background-color: white; 
    font-size: inherit;
    font-family: inherit;
    display: none;
    resize: none;
}